{%  extends "layout.html" %}

{%  block content %}

    {% if error %}
        <p style="color:red">ERROR: Insert a query term.</p>
    {% endif %}
    {% if exists %}
        <p style="color:red">ERROR: Author already exists.</p>
    {% endif %}

    <form action="." method="post">
        <h2>Author Insert</h2>
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Email: <input type="text" name="email"></p>
        <input type="submit" value="Insert">
    </form>

{%  endblock %}