{%  extends "layout.html" %}

{%  block content %}

    <p>Search by: <strong>{{ query }}</strong></p>

    {% if pubs %}
        <p>Found {{ pubs|length }} book{{ pubs|pluralize}}</p>
        <ul>
            {% for pub in pubs %}
                <li>{{ pub.name }}</li>
                <li>{{ pub.city }}</li>
                <li>{{ pub.country }}</li>
                <li>{{ pub.website }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not found any result.</p>
    {% endif %}
{%  endblock %}